<div class="mainContainer">

<div class="formArea">

    <mat-form-field class="form">
        <input matInput placeholder="FIrstName">
        </mat-form-field><br>

        <mat-form-field class="form">
            <input matInput placeholder="FIrstName">
            </mat-form-field><br>

            <mat-form-field class="form">
                <input matInput placeholder="FIrstName">
                </mat-form-field><br>
                <mat-form-field class="form">
                    <input matInput placeholder="FIrstName">
                    </mat-form-field><br>

    
 


    
</div>






</div>
