<mat-toolbar color="primary" class="toolbar">
  <div class="logo">MAFORA CASH SOLUTIONS<span class="pty">(Pty)Ltd</span></div>

  <div>
  <a href="">Home</a> |&ensp;
  <a href="" class="anchors">Contacts</a> |&ensp;
  <a href="" class="anchors">Fraud Alert</a>
  </div>
</mat-toolbar>
<mat-sidenav-container>


  <span class="speacials">View Our Winter Specials</span> 
<mat-form-field>
  <mat-label>Car Finance</mat-label>
  <mat-select>
    <mat-option value="option1">Home Loans</mat-option>
    <mat-option value="option2">Study Loans</mat-option>
    <mat-option value="option3">investment Plan</mat-option>
  </mat-select>
</mat-form-field>


    <router-outlet></router-outlet>
  
</mat-sidenav-container>





