<div class="container">

<mat-card>
  <mat-card-header>{{showMyName}}
    <mat-card-title>HELP US HELP YOU BANK BETTER</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Feel free to explore the features of our app.</p>
  </mat-card-content>
</mat-card>
<div class="main">
<button id="basic" type="button" mat-button class="btns" (click)="getMyName()">
  GET MY NAME
</button>

<button id="basic" type="button" mat-button class="btns">
  SAVE WITH US
</button><br>

<button id="basic" type="button" mat-button class="btns">
  NEW EAZY SERO ACCOUNT
</button>
<button id="basic" type="button" mat-button class="btns">
  PHUTHUMA-NATHI SHARES
</button>
</div>
</div>