<div class="mainContainer">
    <div><span>Let's See if u qualify</span></div>
    <div class="formArea">

    <mat-form-field class="form">
    <input matInput placeholder="FIrstName">
    </mat-form-field><br>

  <mat-form-field class="form">
    <input matInput placeholder="LastName">
    
  </mat-form-field><br>

  <mat-form-field class="form">
    <input matInput placeholder="RSA ID NO">
    
  </mat-form-field><br>
<span>how much are u looking for? </span>
  <mat-slider min="0" max="100000" step="1000" showTickMarks discrete>
    <input matSliderThumb>
  </mat-slider><br>

  <div>
    <span>Employement Condition:</span>
  
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Full-Time</mat-radio-button>
      <mat-radio-button value="2">Part-Time</mat-radio-button>
    </mat-radio-group><br>
    </div>
  

  <mat-form-field class="form">
    <input matInput placeholder="Name of Employer">
    
  </mat-form-field><br>
  
  




  
  
  <button mat-raised-button >Next>></button>
    </div>
</div>





